.favorite__box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1090px;
}

.favorite__img img {
    width: 451px;
    height: auto;
}

.favorite__left {
    position: relative;
}

.favorite__coin-top {
    position: absolute;
    top: 155px;
    right: -44px;
    opacity: 0.3;
}

.favorite__coin-bottom {
    position: absolute;
    bottom: 89px;
    right: 28px;
    opacity: 0.3;
}

.favorite__subtitle {
    margin-bottom: 5px;
}

.favorite__title {
    max-width: 463px;
    margin-bottom: 25px;
}

.favorite__description {
    margin-bottom: 25px;
    max-width: 533px;
}

.favorite__items {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
}

.favorite__item {
    display: flex;
    gap: 10px;
}

.favorite__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
}

.favorite__item-description {
    font-weight: 400;
    font-size: 18px;
    color: #6f6f6f;
    line-height: 147%;
    max-width: 248px;
}

.favorite__item-description span {
    font-weight: 600;
    font-size: 19px;
    color: #020002;
}

@media (max-width: 1050px) {
    .favorite__box {
        flex-direction: column;
        align-items: center;
    }

    .favorite__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .favorite__subtitle {
        text-align: center;
    }

    .favorite__title {
        text-align: center;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .favorite__description {
        text-align: center;
    }

    .favorite__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .favorite__item.favorite-item-last {
        grid-column: 1/3;
        max-width: 50%;
        margin: 0 auto;
    }

    .favorite__item-description {
        max-width: 300px;
    }

    .favorite__coin-top {
        top: -15px;
        right: -44px;
    }

    .favorite__coin-bottom {
        bottom: 40px;
        right: -15px;
    }
}

@media (max-width: 850px) {
    .favorite__coin-top {
        top: -15px;
        right: -10px;
    }

    .favorite__items {
        grid-template-columns: 1fr;
    }

    .favorite__item.favorite-item-last {
        grid-column: 1/1;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 550px) {
    .favorite__title {
        margin-bottom: 15px;
    }

    .favorite__description {
        margin-bottom: 20px;
    }

    .favorite__items {
        grid-gap: 10px;
    }

    .favorite__coin-top svg,
    .favorite__coin-bottom svg {
        width: 30px;
        height: auto;
    }

    .favorite__item-icon {
        min-width: 30px;
        height: 30px;
    }

    .favorite__item-icon svg {
        width: 15px;
        height: auto;
    }

    .favorite__img img {
        width: 350px;
        height: auto;
    }

    .favorite__item-description {
        font-size: 15px;
    }

    .favorite__item-description span {
        font-size: 15px;
    }
}